
<ul class="nav justify-content-end">
  <li class="nav-item">

    <%= link_to 'PinPon-Master', unauthenticated_root_path(), class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <%if current_user.nil?%>
      <%= link_to 'Sign in', new_user_session_path, class: "nav-link active" %>
    <%else%>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "nav-link active" %>
    <%end%>
    <!--a class="nav-link active" href="#">Login</a-->
  </li>
</ul>